.campos-info-evento{
    margin-top: 3em;
    margin-bottom: 2em;
}
.campo-info-evento{
    font-size: medium;
    padding: 1em 4em 0em 4em;
}

.custom-file-upload-evento{
    position: relative;
    top: 35px;
    font-size: x-small;
    color: white;
    border-radius: 2em;
    padding: 1.2em  2em  1em   1em;
    cursor: pointer;
    background-color: #56ca7d;
}

.custom-file-upload-evento:hover{
    background-color: #48a567;
}

.btn-editar-infos-evento{
    text-transform: none;
    background-color: #56ca7d;
    font-size: medium;
    border-radius: 2em;
    margin-top: 50px;
}
.btn-editar-infos-evento:hover{
    background-color: #48a567;
}

.btn-excluir-evento{
    margin-left: 50px;
    margin-top: 50px;
    background-color:#fc6262;
    border-radius: 2em;
}
.btn-excluir-evento:hover{
    background-color:#311111;
}