.btn-submit-form-ONG{
    background-color: #56ca7d;
    width: 14em;
    border-radius: 2em;
}
.btn-submit-form-ONG:hover{
    background-color: #40965d;
}


input[type="file"] {
    display: none;
}
.custom-file-upload {
    color: white;
    border-radius: 2em;
    padding: 1.2em  2em  1em   1em;
    cursor: pointer;
    background-color: #56ca7d;
}
.custom-file-upload:hover {
    background-color: #48a567;
}

.icon-file{
    position: relative;
    top: 0.3em;
    margin-right: 0.5em;
    margin-left: 0.4em;
    margin-top: -1em;
    margin-bottom: -1em;
}
.upload-area{
    text-align: center;
    display: flex;
    margin-bottom: 4em;
}
.lbl-upload{
    margin-right: 2em;
    margin-top: 1em;
    color: rgba(0, 0, 0, 0.522);
}
.icon-remove-file{
    background-color: rgb(103, 95, 252);
    margin-left: 1em;
}
.icon-remove-file:hover{
    background-color: rgb(16, 22, 179)
}
