.btn-submit-form-ONG{
    font-family: 'Raleway', sans-serif;
    background-color: #56ca7d;
    width: 15em;
    border-radius: 2em;
}
.btn-submit-form-ONG:hover{
    background-color: #40965d;
}

input[type="file"] {
    display: none;
}

@media (min-width: 993px)
{
    .upload-area{
        text-align: center;
        display: flex;
        flex-direction: row;
        margin-bottom: 4em;
    }
    .lbl-upload{
        margin-right: 2em;
        margin-top: 1em;
        color: rgba(0, 0, 0, 0.522);
        margin-bottom: 1em;
        margin-left: 1em;
    }
    .custom-file-upload{
        color: white;
        border-radius: 2em;
        padding: 1em  2em  1em   2em;
        cursor: pointer;
        background-color: #56ca7d;
    }
    .icon-file{
        position: relative;
        top: 0.3em;
        margin-right: 0.5em;
        margin-left: 0.4em;
        margin-top: -1em;
        margin-bottom: -1em;
    }
    .icon-remove-file{
        background-color: rgb(103, 95, 252);
        margin-left: 1em;
    }
    .icon-remove-file:hover{
        background-color: rgb(16, 22, 179)
    }
}
@media (max-width: 993px)
{
    .upload-area{
        align-items: center;
        margin-bottom: 2em;
        display: flex;
        flex-direction: column;
    }
    .lbl-upload{
        text-align: center;
        font-size: small;
        color: rgba(0, 0, 0, 0.522);
        margin-bottom: 1em;
    }
    .custom-file-upload{
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: small;
        text-align: center;
        color: white;
        border-radius: 2em;
        padding: 1em  2em 1em 2em ;
        cursor: pointer;
        background-color: #56ca7d;
    }
    .icon-file{
        font-size: 1.4em;
        margin-right: 0.3em;
        position: relative;
        top: 0.25em;
    }
    .icon-remove-file{
        background-color: rgb(103, 95, 252);
    }
    .icon-remove-file:hover{
        background-color: rgb(16, 22, 179)
    }
}