.btn-mais{
    background-color:#56ca7d;
    border-radius: 2em;
}
.btn-mais:hover{
    background-color: #40965d;
}

.btn-banir{
    background-color:#fc6262;
    border-radius: 2em;
}
.btn-banir:hover{
    background-color:#311111;
    border-radius: 2em;
}
.center-estado{
    text-align: center;
    margin-top: 50px;
}

@media (min-width: 1000px){
    .btn-estadoSocial{
        background-color:#5688ca;
        border-radius: 2em;
        margin-bottom: 30px;
        color: white;
        padding: 10px;
        margin-top: 50px;
    }
    .btnmais{
        background-color:#5688ca;
        border-radius: 2em;
        margin-right: 30px;
    }
    .btnmais:hover{
        background-color: #284872;
    }
}
@media (max-width: 1000px){
    .btn-estadoSocial{
        background-color:#5688ca;
        border-radius: 2em;
        margin-bottom: 30px;
        color: white;
        padding: 10px;
        margin-top: 100px;
    }
    .btnmais{
        background-color:#5688ca;
        border-radius: 2em;
        margin-bottom: 30px;
    }
    .btnmais:hover{
        background-color: #284872;
    }
}

.infos-adm-ong{
    font-size: 120%;
    text-align: center;
    padding: 30px;
}

.b{
    font-weight: 900;
}