.item-carrossel{
    background-color: white;
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: center;
}
.card-animal{
    margin: 10px 50px 0px 50px;
    box-shadow: 0.2em 0.2em 0.6em black;
    border-radius: 20px;
    background-color: rgba(7, 84, 0, 0.268);
}
.img-card-animal{
    margin: 20px 20px 20px 20px;
    border-radius: 20px;
    width: 25vh;
    height: 25vh;
    object-fit: cover;
}
.title-card-animal{
    text-align: center;
}