.rodape{
    width: 100%;  
    position: relative;
    bottom:0;
    left:0;
    background-color: #1D452A;
}

@media (min-width: 1000px)
{
    .footer-title{
        color: white;
        padding: 2em;
        font-size: x-large;
    }
    .footer-names{
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: row;
    }
    .p-names{
        margin-left: 100px;
        margin-right: 100px;
        color: rgba(255, 255, 255, 0.761);
    }

    .footer-infos{
        background-color: #163320;
        margin-top: 1.5em;
        padding: 1em 0em 1em 0em;
        display: flex;
        flex-direction: row;
    }
    .p-infos{
        font-size: small;
        color: rgba(255, 255, 255, 0.761);
        margin: 1% 6% 1% 8%;
    }
}

@media (max-width: 1000px)
{
    .footer-title{
       
        color: white;
        padding: 50px 40px 40px 50px;
        font-size: medium;
    }
    .footer-names{
        flex-direction: row;
    }
    .p-names{
        font-size: xx-small;
        margin-left: 50px;
        margin-bottom: 20px;
        color: rgba(255, 255, 255, 0.761);
    }

    .footer-infos{
        background-color: #163320;
        margin-top: 40px;
        padding: 30px 0px 20px 0px;
        display: flex;
        flex-direction: column;
    }
    .p-infos{
        font-size: xx-small;
        color: rgba(255, 255, 255, 0.761);
        margin: 1% 6% 1% 8%;
    }
}