@media (min-width: 1635px)
{
    #login-areas{
        padding: 8% 20% 7.85% 20%;
        display: flex;
        flex-direction:row;
        font-family: 'Oswald', sans-serif;
    }
    
    #login-form-area{
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-top: 4.5%;
        width: 70%;
        text-align: center;
        box-shadow: -0.1em 0.2em 0.4em black;
    }
    
    #title-login{
        font-size: 2.5em;
        padding-bottom: 0.6em;
        color: #55cc7c;
    }
    #txt-login{
        font-size: 1em;
        margin-bottom: 2em;
    }
    .form-login{
        width: 19em;
    }
    #inputs-login{
        margin-bottom: 2em;
    }
    
    #btn-login{
        font-size: large;
        margin-top: 1.5em;
        margin-bottom: 3em;
        width: 8em;
        height: 3em;
        font-weight:bolder;
        background-color: #55cc7c;
        border-radius: 2em;
    }
    .EsqueciSenha{
        color: grey;
        text-decoration: underline;
    }

    
    #cad-area{
        padding: 4% 5% 5% 5%;
        width: 30%;
        text-align: center;
        background-image: url("../../images/BackgroundLogin.svg");
    }

    #title-cadastrar{
        font-weight:bolder;
        color: white;
        font-size: 1.5em;
        margin-top: 3em;
        margin-bottom: 1em;
    }
    #txt-cadastrar{
        color: white;
        font-size: 1em;
        margin-bottom: 2em;
    }
    #buttons-area-cad{
        display: flex;
        flex-direction: column;
    }
    .btn-cad{
        font-family: 'Oswald', sans-serif;
        font-size: 1em;
        width: 10em;
        height: 2.5em;
        border-radius: 3em;
        background-color: #319860;
        box-shadow: none;
        border:solid 0.13em;
        border-color: white;
        margin-bottom: 0.7em;
    }
    .btn-cad:hover{
        background-color: #51c578;
    }
}

@media (max-width: 1635px) and (min-width:1300px)
{
    #login-areas{
        padding: 8% 20% 7.85% 20%;
        display: flex;
        flex-direction:row;
        font-family: 'Oswald', sans-serif;
    }
    
    #login-form-area{
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-top: 4.5%;
        width: 70%;
        text-align: center;
        box-shadow: -0.1em 0.2em 0.4em black;
    }
    
    #title-login{
        font-size: 2.5em;
        padding-bottom: 0.6em;
        color: #55cc7c;
    }
    #txt-login{
        font-size: 1em;
        margin-bottom: 2em;
    }
    .form-login{
        width: 19em;
    }
    #inputs-login{
        margin-bottom: 2em;
    }
    
    #btn-login{
        font-size: large;
        margin-top: 1.5em;
        margin-bottom: 3em;
        width: 8em;
        height: 3em;
        font-weight:bolder;
        background-color: #55cc7c;
        border-radius: 2em;
    }
    .EsqueciSenha{
        color: grey;
        text-decoration: underline;
    }
    /*======================*/
    #cad-area{
        padding: 10% 5% 5% 5%;
        width: 30%;
        text-align: center;
        background-image: url("../../images/BackgroundLogin.svg");
    }

    #title-cadastrar{
        font-weight:bolder;
        color: white;
        font-size: 1.1em;
        margin-top: 3em;
        margin-bottom: 1em;
    }
    #txt-cadastrar{
        color: white;
        font-size: 0.9em;
        margin-bottom: 2em;
    }
    #buttons-area-cad{
        display: flex;
        flex-direction: column;
    }
    .btn-cad{
        font-family: 'Oswald', sans-serif;
        font-size: 0.8em;
        width: 10em;
        height: 2.5em;
        border-radius: 3em;
        background-color: #319860;
        box-shadow: none;
        border:solid 0.13em;
        border-color: white;
        margin-bottom: 0.7em;
    }
    .btn-cad:hover{
        background-color: #51c578;
    }
}
@media (max-width: 1300px) and (min-width:1100px){
    #login-areas{
        padding: 8% 20% 7.85% 20%;
        display: flex;
        flex-direction:row;
        font-family: 'Oswald', sans-serif;
    }
    
    #login-form-area{
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-top: 4.5%;
        width: 70%;
        text-align: center;
        box-shadow: -0.1em 0.2em 0.4em black;
    }
    
    #title-login{
        font-size: 2em;
        padding-bottom: 0.6em;
        color: #55cc7c;
    }
    #txt-login{
        font-size: 0.8em;
        margin-bottom: 2em;
    }
    .form-login{
        width: 19em;
    }
    #inputs-login{
        margin-bottom: 2em;
    }
    
    #btn-login{
        font-size: large;
        margin-top: 1.5em;
        margin-bottom: 3em;
        width: 7em;
        height: 2.5em;
        font-weight:bolder;
        background-color: #55cc7c;
        border-radius: 2em;
    }
    .EsqueciSenha{
        color: grey;
        text-decoration: underline;
    }
    /*======================*/
    #cad-area{
        padding: 10% 5% 5% 5%;
        width: 30%;
        text-align: center;
        background-image: url("../../images/BackgroundLogin.svg");
    }

    #title-cadastrar{
        font-weight:bolder;
        color: white;
        font-size: 1em;
        margin-top: 3em;
        margin-bottom: 1em;
    }
    #txt-cadastrar{
        color: white;
        font-size: 0.8em;
        margin-bottom: 2em;
    }
    #buttons-area-cad{
        display: flex;
        flex-direction: column;
    }
    .btn-cad{
        font-family: 'Oswald', sans-serif;
        font-size: 0.6em;
        width: 10em;
        height: 3em;
        border-radius: 3em;
        background-color: #319860;
        box-shadow: none;
        border:solid 0.13em;
        border-color: white;
        margin-bottom: 0.7em;
    }
    .btn-cad:hover{
        background-color: #51c578;
    }
}
@media (max-width: 1100px) and (min-width:900px){
    #login-areas{
        padding: 8% 20% 7.85% 20%;
        display: flex;
        flex-direction:row;
        font-family: 'Oswald', sans-serif;
    }
    
    #login-form-area{
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-top: 4.5%;
        width: 70%;
        text-align: center;
        box-shadow: -0.1em 0.2em 0.4em black;
    }
    
    #title-login{
        font-size: 1.8em;
        padding-bottom: 0.6em;
        color: #55cc7c;
    }
    #txt-login{
        font-size: 0.7em;
        margin-bottom: 2em;
    }
    .form-login{
        width: 14em;
    }
    #inputs-login{
        margin-bottom: 2em;
    }
    
    #btn-login{
        font-size: 1em;
        margin-top: 1.5em;
        margin-bottom: 3em;
        width: 7em;
        height: 2.5em;
        font-weight:bolder;
        background-color: #55cc7c;
        border-radius: 2em;
    }
    .EsqueciSenha{
        color: grey;
        text-decoration: underline;
    }
    /*======================*/
    #cad-area{
        padding: 10% 5% 5% 5%;
        width: 30%;
        text-align: center;
        background-image: url("../../images/BackgroundLogin.svg");
    }

    #title-cadastrar{
        font-weight:bolder;
        color: white;
        font-size: 1em;
        margin-top: 3em;
        margin-bottom: 1em;
    }
    #txt-cadastrar{
        color: white;
        font-size: 0.8em;
        margin-bottom: 2em;
    }
    #buttons-area-cad{
        display: flex;
        flex-direction: column;
    }
    .btn-cad{
        font-family: 'Oswald', sans-serif;
        font-size: 0.6em;
        width: 10em;
        height: 3em;
        border-radius: 3em;
        background-color: #319860;
        box-shadow: none;
        border:solid 0.13em;
        border-color: white;
        margin-bottom: 0.7em;
    }
    .btn-cad:hover{
        background-color: #51c578;
    }
}
@media (max-width: 900px) and (min-width:500px){
    #login-areas{
        align-items: center;
        padding: 8% 20% 7.85% 20%;
        display: flex;
        flex-direction:column;
        font-family: 'Oswald', sans-serif;
    }
    
    #login-form-area{
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-top: 4.5%;
        width: 100%;
        text-align: center;
        box-shadow: -0.1em 0.2em 0.4em black;
    }
    
    #title-login{
        font-size: 1.8em;
        padding-bottom: 0.6em;
        color: #55cc7c;
    }
    #txt-login{
        font-size: 0.7em;
        margin-bottom: 2em;
    }
    .form-login{
        width: 14em;
    }
    #inputs-login{
        margin-bottom: 2em;
    }
    
    #btn-login{
        font-size: 1em;
        margin-top: 1.5em;
        margin-bottom: 3em;
        width: 7em;
        height: 2.5em;
        font-weight:bolder;
        background-color: #55cc7c;
        border-radius: 2em;
    }
    .EsqueciSenha{
        color: grey;
        text-decoration: underline;
    }
    /*======================*/
    #cad-area{
        padding: 10% 5% 5% 5%;
        width: 100%;
        text-align: center;
        background-image: url("../../images/BackgroundLoginMobile.svg");
    }

    #title-cadastrar{
        font-weight:bolder;
        color: white;
        font-size: 1em;
        margin-top: 3em;
        margin-bottom: 1em;
    }
    #txt-cadastrar{
        color: white;
        font-size: 0.8em;
        margin-bottom: 2em;
    }
    #buttons-area-cad{
        display: flex;
        flex-direction: column;
    }
    .btn-cad{
        font-family: 'Oswald', sans-serif;
        font-size: 0.6em;
        width: 10em;
        height: 3em;
        border-radius: 3em;
        background-color: #319860;
        box-shadow: none;
        border:solid 0.13em;
        border-color: white;
        margin-bottom: 0.7em;
    }
    .btn-cad:hover{
        background-color: #51c578;
    }
}
@media (max-width: 500px) and (min-width:350px){
    #login-areas{
        align-items: center;
        padding: 8% 20% 7.85% 20%;
        display: flex;
        flex-direction:column;
        font-family: 'Oswald', sans-serif;
    }
    
    #login-form-area{
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-top: 4.5%;
        width: 100%;
        text-align: center;
        box-shadow: -0.1em 0.2em 0.4em black;
    }
    
    #title-login{
        font-size: 1.4em;
        padding-bottom: 0.6em;
        color: #55cc7c;
    }
    #txt-login{
        font-size: 0.55em;
        margin-bottom: 2em;
    }
    .form-login{
        font-size: 1em;
        width: 10em;
    }
    #inputs-login{
        margin-bottom: 2em;
    }
    
    #btn-login{
        font-size: 1em;
        margin-top: 1.5em;
        margin-bottom: 3em;
        width: 7em;
        height: 2.5em;
        font-weight:bolder;
        background-color: #55cc7c;
        border-radius: 2em;
    }
    .EsqueciSenha{
        color: grey;
        text-decoration: underline;
    }
    /*======================*/
    #cad-area{
        padding: 10% 5% 5% 5%;
        width: 100%;
        text-align: center;
        background-image: url("../../images/BackgroundLoginMobile.svg");
    }

    #title-cadastrar{
        font-weight:bolder;
        color: white;
        font-size: 1em;
        margin-top: 3em;
        margin-bottom: 1em;
    }
    #txt-cadastrar{
        color: white;
        font-size: 0.8em;
        margin-bottom: 2em;
    }
    #buttons-area-cad{
        display: flex;
        flex-direction: column;
    }
    .btn-cad{
        font-family: 'Oswald', sans-serif;
        font-size: 0.6em;
        width: 10em;
        height: 3em;
        border-radius: 3em;
        background-color: #319860;
        box-shadow: none;
        border:solid 0.13em;
        border-color: white;
        margin-bottom: 0.7em;
    }
    .btn-cad:hover{
        background-color: #51c578;
    }
}
@media (max-width: 350px) and (min-width:250px){
    #login-areas{
        align-items: center;
        padding: 8% 10% 7.85% 10%;
        display: flex;
        flex-direction:column;
        font-family: 'Oswald', sans-serif;
    }
    
    #login-form-area{
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-top: 4.5%;
        width: 100%;
        text-align: center;
        box-shadow: -0.1em 0.2em 0.4em black;
    }
    
    #title-login{
        font-size: 1.2em;
        padding-bottom: 0.6em;
        color: #55cc7c;
    }
    #txt-login{
        font-size: 0.4em;
        margin-bottom: 2em;
    }
    .form-login{
        font-size: 1em;
        width: 9em;
    }
    #inputs-login{
        margin-bottom: 2em;
    }
    
    #btn-login{
        font-size: 1em;
        margin-top: 1.5em;
        margin-bottom: 3em;
        width: 7em;
        height: 2.5em;
        font-weight:bolder;
        background-color: #55cc7c;
        border-radius: 2em;
    }
    .EsqueciSenha{
        color: grey;
        text-decoration: underline;
    }
    /*======================*/
    #cad-area{
        padding: 10% 5% 5% 5%;
        width: 100%;
        text-align: center;
        background-image: url("../../images/BackgroundLoginMobile.svg");
    }

    #title-cadastrar{
        font-weight:bolder;
        color: white;
        font-size: 1em;
        margin-top: 3em;
        margin-bottom: 1em;
    }
    #txt-cadastrar{
        color: white;
        font-size: 0.8em;
        margin-bottom: 2em;
    }
    #buttons-area-cad{
        display: flex;
        flex-direction: column;
    }
    .btn-cad{
        font-family: 'Oswald', sans-serif;
        font-size: 0.6em;
        width: 10em;
        height: 3em;
        border-radius: 3em;
        background-color: #319860;
        box-shadow: none;
        border:solid 0.13em;
        border-color: white;
        margin-bottom: 0.7em;
    }
    .btn-cad:hover{
        background-color: #51c578;
    }
}
@media (max-width: 350px) and (min-width:250px){
    #login-areas{
        align-items: center;
        padding: 8% 10% 7.85% 10%;
        display: flex;
        flex-direction:column;
        font-family: 'Oswald', sans-serif;
    }
    
    #login-form-area{
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-top: 4.5%;
        width: 100%;
        text-align: center;
        box-shadow: -0.1em 0.2em 0.4em black;
    }
    
    #title-login{
        font-size: 1.2em;
        padding-bottom: 0.6em;
        color: #55cc7c;
    }
    #txt-login{
        font-size: 0.4em;
        margin-bottom: 2em;
    }
    .form-login{
        font-size: 1em;
        width: 9em;
    }
    #inputs-login{
        margin-bottom: 2em;
    }
    
    #btn-login{
        font-size: 1em;
        margin-top: 1.5em;
        margin-bottom: 3em;
        width: 7em;
        height: 2.5em;
        font-weight:bolder;
        background-color: #55cc7c;
        border-radius: 2em;
    }
    .EsqueciSenha{
        color: grey;
        text-decoration: underline;
    }
    /*======================*/
    #cad-area{
        padding: 10% 5% 5% 5%;
        width: 100%;
        text-align: center;
        background-image: url("../../images/BackgroundLoginMobile.svg");
    }

    #title-cadastrar{
        font-weight:bolder;
        color: white;
        font-size: 1em;
        margin-top: 3em;
        margin-bottom: 1em;
    }
    #txt-cadastrar{
        color: white;
        font-size: 0.8em;
        margin-bottom: 2em;
    }
    #buttons-area-cad{
        display: flex;
        flex-direction: column;
    }
    .btn-cad{
        font-family: 'Oswald', sans-serif;
        font-size: 0.6em;
        width: 10em;
        height: 3em;
        border-radius: 3em;
        background-color: #319860;
        box-shadow: none;
        border:solid 0.13em;
        border-color: white;
        margin-bottom: 0.7em;
    }
    .btn-cad:hover{
        background-color: #51c578;
    }
}
@media (max-width: 250px) and (min-width:0px){
    #login-areas{
        align-items: center;
        padding: 8% 10% 7.85% 10%;
        display: flex;
        flex-direction:column;
        font-family: 'Oswald', sans-serif;
    }
    
    #login-form-area{
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-top: 4.5%;
        width: 100%;
        text-align: center;
        box-shadow: -0.1em 0.2em 0.4em black;
    }
    
    #title-login{
        font-size: 1.2em;
        padding-bottom: 0.6em;
        color: #55cc7c;
    }
    #txt-login{
        font-size: 0.4em;
        margin-bottom: 2em;
    }
    .form-login{
        font-size: 1em;
        width: 5em;
    }
    #inputs-login{
        margin-bottom: 2em;
    }
    
    #btn-login{
        font-size: 0.5em;
        margin-top: 1em;
        margin-bottom: 3em;
        width: 7em;
        height: 3.5em;
        font-weight:bolder;
        background-color: #55cc7c;
        border-radius: 2em;
    }
    .EsqueciSenha{
        font-size: 0.5em;
        color: grey;
        text-decoration: underline;
    }
    /*======================*/
    #cad-area{
        padding: 10% 5% 5% 5%;
        width: 100%;
        text-align: center;
        background-image: url("../../images/BackgroundLoginMobile.svg");
    }

    #title-cadastrar{
        font-weight:bolder;
        color: white;
        font-size: 1em;
        margin-top: 3em;
        margin-bottom: 1em;
    }
    #txt-cadastrar{
        color: white;
        font-size: 0.8em;
        margin-bottom: 2em;
    }
    #buttons-area-cad{
        display: flex;
        flex-direction: column;
    }
    .btn-cad{
        font-family: 'Oswald', sans-serif;
        font-size: 0.6em;
        width: 10em;
        height: 3em;
        border-radius: 3em;
        background-color: #319860;
        box-shadow: none;
        border:solid 0.13em;
        border-color: white;
        margin-bottom: 0.7em;
    }
    .btn-cad:hover{
        background-color: #51c578;
    }
}