@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#title-login{
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    padding: 0.4em;
}
#login-areas{
    display: flex;
}
#login-form-area{
    background-color: #5ce489;
    padding: 5%;
   
    width: 50%;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
}
#btn-login{
    margin-top: 2em;
    background-color: white;
    font-weight: bold;
    font-size: 1.2em;
    color: #5ce489;
    box-shadow: none;
}
#btn-login:hover{
    margin-top: 2em;
    background-color: #5ce489;
    font-weight: bold;
    font-size: 1.2em;
    color: white;
}
/*===========================================*/
#cad-area{
    padding: 5%;
    margin-top: -0%;
    width: 46%;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0.2em 0.2em 0.6em black;
    text-align: center;
}
#title-cadastrar{
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    background-color: #5ce489;
    color: white;
    padding: 0.4em;
    margin-left: 3em;
    margin-right: 3em;
}
#txt-cadastrar{
    font-size: 1.2em;
    line-height: 1.5;
    text-indent: 1.5em;
    padding-top: 1em;
    color: #5ce489;
}
#buttons-area-cad{
    margin-top: 1.5em;
}
.btn-cad{
    font-weight: bold;
    color: #5ce489;
    background-color: white;
    box-shadow: 0.2em 0.2em 0.6em white;
    border: 0.2em solid #5ce489;
    border-radius: 2em;
    margin-top: 0.5em;
}

.btn-cad:hover{
    font-weight: bold;
    color: white;
    background-color: #5ce489;
    box-shadow: 0.2em 0.2em 0.6em white;
    border: 0.2em solid #5ce489;
    border-radius: 2em;
}

.txt-email label{
    color: white;
  }