#infos-perfil{
    margin: 5% 10% 3% 10%;
    font-family: 'Raleway', sans-serif;
}
#upload-image{
    text-align: center;
    margin-bottom: 2em;
}

.btn-editar-infos{
    text-transform: none;
    background-color: #56ca7d;
    font-size: medium;
    border-radius: 2em;
}
.btn-editar-infos:hover{
    background-color: #48a567;
}
.icon-editar{
    margin-right: 1em;
    transform: rotate(270deg);
}

.form-editar{
    padding: 2em 1em 1em 1em;
}
.submmit-edit{
    background-color: #56ca7d;
    font-size: medium;
    border-radius: 2em;
    font-family: 'Raleway', sans-serif;
}
.submmit-edit:hover{
    background-color: #48a567;
}
.animais-area{
    background-color: #56ca7d;
    text-align: center;
}

.animais-display{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em 0em 1em 0em;
}

@media (min-width: 993px)
{
    .title-animais{
        font-size: 1.8em;
        color: white;
        padding: 1.5em 0em 1em 0em;
    }
    .campo-info{
        font-size: medium;
        padding: 1em 0em 0em 0em;
    }
    .campos-info{
        text-align: center;
        margin-top: 3em;
        margin-bottom: 2em;
    }
    .campos-info{
        margin-top: 2em;
        margin-bottom: 2em;
    }
    .campos-info-3°{
        margin-top: 0px;
        margin-bottom: 60px;
    }
    .custom-file-upload-perfil{
        color: white;
        border-radius: 2em;
        padding: 1.2em  2em  1em   1em;
        cursor: pointer;
        background-color: #56ca7d;
    } 
    .custom-file-upload-perfil:hover{
        background-color: #48a567;
    }
}
@media (max-width: 993px)
{
    .title-animais{
        font-size: 1.2em;
        color: white;
        padding: 2em 0em 1em 0em;
    }
    .campo-info{
        text-align: center;
        font-size: x-small;
        padding: 1em 0em 0em 0em;
    }
    .campos-info{
        margin-top: 2em;
        margin-bottom: 2em;
    }
    .campos-info-3°{
        margin-top: 0px;
        margin-bottom: 60px;
    }
    .custom-file-upload-perfil{
        font-size: x-small;
        color: white;
        border-radius: 2em;
        padding: 1.2em  2em  1em   1em;
        cursor: pointer;
        background-color: #56ca7d;
    }
    
    .custom-file-upload-perfil:hover{
        background-color: #48a567;
    }
}

.preloader{
    font-size: xx-large;
    margin-top: 10em;
    margin-bottom: 50em;
}
.close-modal{
    background-color: transparent;
    color: rgb(255, 0, 0);
    box-shadow: none;
}
.close-modal:hover{
    background-color: transparent;
    color: rgb(213, 1, 1);
    box-shadow: none;
}
.perfil-3°{
    margin-top: 50px;
    text-align: center;
}

.btn-propostas{
    border-radius: 2em;
    background-color: #56ca7d;
    margin-top: 20px;
}

.btn-propostas:hover{
    background-color: #48a567;
}

.btns-propostas{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
}