#infos-perfil{
    margin: 5% 10% 4% 10%;
    font-family: 'Raleway', sans-serif;
}
#upload-image{
    text-align: center;
    margin-bottom: 2em;
}
.campo-info{
    font-size: large;
    padding: 0.8em;
}
.custom-file-upload-perfil{
    color: white;
    border-radius: 2em;
    padding: 1.2em  2em  1em   1em;
    cursor: pointer;
    background-color: #56ca7d;
}

.custom-file-upload-perfil:hover{
    background-color: #48a567;
}
.campos-info{
    text-align: left;
    margin-bottom: 2em;
}
.btn-editar-infos{
    background-color: #56ca7d;
    font-size: medium;
    border-radius: 2em;
}
.btn-editar-infos:hover{
    background-color: #48a567;
}


.form-editar{
    padding: 2em 1em 1em 1em;
}
.submmit-edit{
    background-color: #56ca7d;
    font-size: medium;
    border-radius: 2em;
    font-family: 'Raleway', sans-serif;
}
.submmit-edit:hover{
    background-color: #48a567;
}
.animais-area{
    background-color: #56ca7d;
    text-align: center;
}

.animais-display{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em 0em 1em 0em;
}

@media (min-width: 993px)
{
    .title-animais{
        font-size: 1.8em;
        color: white;
        padding: 1.5em 0em 1em 0em;
    }
}
@media (max-width: 993px)
{
    .title-animais{
        font-size: 1.2em;
        color: white;
        padding: 2em 0em 1em 0em;
    }
}
