@media (min-width: 993px)
{
    .img-viewer{
        width: 15em;
        height: 15em;
        border-radius: 100%;
        object-fit: cover;
        margin-bottom: 3em;
    }
}
@media (max-width: 993px)
{
    .img-viewer{
        width: 10em;
        height: 10em;
        border-radius: 100%;
        object-fit: cover;
    }
}
