@media (min-width: 993px)
{
    .img-viewer{
        border-radius: 100%;
        width: 20%;
    }
}
@media (max-width: 993px)
{
    .img-viewer{
        border-radius: 100%;
        width: 30%;
    }
}
