.termos-area{
    padding: 5% 10% 10% 10%
}

.p1{
    font-weight: 900;
    margin-bottom: 20px;
}

.p2{
    margin-bottom: 20px;
}

.p3{
    margin-bottom: 10px;
}

.h1{
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 20px;
}