.navbar{
    background-color: #324538;
    font-family: 'Oswald', sans-serif;
}
.brand-logo{
    width: 1.5em;
}

@media (min-width: 993px)
{
    .brand-logo{
        width: 1.9em;
        margin-left: 1em;
    }
}

.nav-item{
    padding-top: 0.5em;
    font-size: xx-large;
}

.btn-nav{
    font-family: Oswald;   
    font-size: xx-large;
    background-color: #52C478;
    height: 40px;
    margin-top: -10px;
}

.nickname{
    font-size: x-large;
    display: flex;
}

