.navbar{
    background-color: #1D452A;
    font-family: 'Raleway', sans-serif;
}
@media (min-width: 990px)
{
    .navbar-edited{
        display: flex;
    }
}
/*@media (max-width: 993px)
{
    .navbar-edited{
        display: inline;
    }
}*/
@media (min-width: 993px)
{
    .brand-logo{
        margin-left: 1em;
    }
}

.nav-item{
    padding-top: 19px;
    padding-bottom: 10px;
    font-size: xx-large;
}

.nav-pic-item{
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: xx-large;
}

.nav-item-ong{
    padding-top: 11px;
    padding-bottom: 1px;
    font-size: 35px;
}
.nav-icon-ong{
    padding-top: 10px;
}
.btn-nav{
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
    background-color: #52C478;
    height: 40px;
    margin-top: -10px;
    border-radius: 0.4em;
}

.btn-nav:hover{
    background-color: #00aa41;
    color: white;
}

#sidenav{
    display: flex;
    flex-direction: column ;
    margin-top: 1em;
}
.nav-item-mobile{
    font-size: x-large;
    padding: 1em 1em 1em 2em;
    color: black;
    display: flex;
    font-family: 'Raleway', sans-serif;
}
.nav-pic-mobile{
    font-size: xx-large;
    padding: 1em 1em 0em 1em;
    color: black;
    text-align: center;

}
.nav-nick-mobile{
    font-size: large;
    padding: 1em 1em 1em 1em;
    color: black;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.nav-item-mobile:hover{
    background-color: #52c4788e;
    color: white;
}
.nav-event-mobile{
    font-size: 1.1em;
    padding: 1em 1em 1em 2em;
    color: black;
    text-align:left;
    font-family: 'Raleway', sans-serif;
}
.nav-event-mobile:hover{
    background-color: #52c4788e;
    color: white;
}

.nav-icon-mobile{
    margin-right: 0.6em;
}
@media (min-width: 600px) {
    .brand-logo{
        width: 65px;
    }    
}
@media (max-width: 600px) {
    .brand-logo{
        width: 55px;
    }    
}
