@media (min-width: 993px)
{
    #img-viewer{
        width: 1.5em;
        height: 1.5em;
        margin-top: -5px;
        border-radius: 100%;
        object-fit: cover;
    }
}
@media (max-width: 993px)
{
    #img-viewer{
        width: 3em;
        height: 3em;
        margin-top: 0.3em;
        border-radius: 100%;
        object-fit: cover;
    }
}