#form-areas{
    padding: 1em;
}
@media (min-width: 993px)
{
    #form-area{
        margin: 2% 10% 5% 10%;
        padding: 5% 10% 5% 10%;
        box-shadow: 0.2em 0.2em 0.6em black;
    }
    .title-cadastrar{
        text-align: center;
        font-size: xx-large;
        padding: 2% 0% 3% 0%;

    }
    .paragraph-cadastrar{
        text-align: center;
        margin-bottom: 2em;
    }
}
@media (max-width: 993px)
{
    #form-area{
        margin: 2% 3% 5% 3%;
        padding: 5% 10% 5% 10%;
        box-shadow: 0.2em 0.2em 0.6em black;
    }
    .title-cadastrar{
        text-align: center;
        font-size: large;
        padding: 2% 0% 3% 0%;

    }
    .paragraph-cadastrar{
        font-size: xx-small;
        text-align: center;
        margin-bottom: 2em;
    }
}
.btn-area-cadPessoa{
    text-align: center;
}
.btn-submit-form{
    background-color: #56ca7d;
    width: 12em;
    border-radius: 2em;
}
.btn-submit-form:hover{
    background-color: #40965d;
}

.send-icon{
    margin-right: 20px;
}

.check-area{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}