@media (min-width: 993px)
{
    .foto-animal{
        margin: 0em 2em 0em 2em;
        width: 13em;
        height: 13em;
        border-radius: 100%;
        object-fit: cover;
    }
}
@media (max-width: 993px) and (min-width: 0px)
{
    .foto-animal{
        margin: 0em 1em 0em 1em;
        width: 8em;
        height: 8em;
        border-radius: 100%;
        object-fit: cover;
    }
}
