.Animal-Component{
    margin-top: 1em;
}
.btn-exclude{
    width: 8em;
    font-size: medium;
    font-weight: bold;
    text-transform: none;
    background-color: rgb(242, 52, 52);
    border-radius: 2em;
    margin: 0em 1em 1em 1em;
}
.btn-exclude:hover{
    background-color: rgb(179, 0, 0);
}

.btn-animal-area{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column; 
    margin-top: 1em;
    margin-bottom: 3em;
}

.infos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.edits-info{
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    margin-left: 2em;
    margin-bottom: 2em;
}
.btn-edit-animais{
    width: 2em;
    height: 2em;
    background-color: #56ca7d;
    font-size: medium;
    margin-top: 0.05em;
}
.btn-edit-animais:hover{
    background-color: #40965d;
}



.campos-info-animal{
    margin-top: 3em;
    margin-bottom: 2em;
}
.campo-info-animal{
    font-size: medium;
    padding: 1em 0em 0em 0em;
}
.form-edit-animal{
    text-align: center;
    padding: 3em 1em 1em 1em;
}

.responsavel{
    text-align: center;
}
.viewer-responsavel{
    margin: 200px;
}
.title-responsavel{
    font-size: 150%;
    color: black;
    margin-bottom: 10px;
}
.campos-info-animal-3°{
    text-align: center;
    margin-bottom: 50px;
    margin-top: -80px;
}
.nome-animal{
    font-weight: bold;
    font-size: 150%;
    margin-bottom: 10px;
}

.btns-animal{
    text-align: center;
    margin-bottom: 45px;
}
@media (min-width: 1000px){
    .btn-adotar{
        border-radius: 200px;
        background-color: #56ca7d;
        font-size: 100%;
        font-weight: bold;
        width: 20%;
        height: 50px;
    }
    .btn-adotar:hover{
        background-color: #40965d;
    }
}

@media (max-width: 1000px){
    .btn-adotar{
        border-radius: 200px;
        background-color: #56ca7d;
        font-weight: bold;
    }
    .btn-adotar:hover{
        background-color: #40965d;
    }
}

@media(min-width: 1000px){
    .area-txt-adocao{
        padding: 50px 50px 0px 50px;
    }
    .title-adocao{
        text-align: center;
        font-weight: bolder;
        font-size: 130%;
        margin-bottom: 40px;
    }
    .p-adocao{
        font-size: 80%;
        color: rgba(0, 0, 0, 0.33);
    }

    .btn-submit-adocao{
        background-color: #56ca7d;
        width: 12em;
        border-radius: 2em;
        margin-top: 20px;
    }
    .btn-submit-adocao:hover{
        background-color: #40965d;
    }
}
@media(max-width: 1000px){
    .area-txt-adocao{
        padding: 10px 10px 0px 10px;
    }
    .title-adocao{
        text-align: center;
        font-weight: bolder;
        font-size: 100%;
        margin-bottom: 30px;
    }
    .p-adocao{
        font-size: 50%;
        color: rgba(0, 0, 0, 0.33);
    }

    .btn-submit-adocao{
        background-color: #56ca7d;
        width: 12em;
        border-radius: 2em;
        margin-top: 20px;
    }
    .btn-submit-adocao:hover{
        background-color: #40965d;
    }
}

.btn-reportar-animal{
    background-color:#fc6262;
    margin-top: -50px;
    margin-bottom: 100px;
    border-radius: 2em;
}

.btn-reportar-animal:hover{
    background-color:#311111;
}