.Animal-Component{
    margin-top: 1em;
}
.btn-exclude{
    width: 8em;
    font-size: medium;
    font-weight: bold;
    text-transform: none;
    background-color: rgb(242, 52, 52);
    border-radius: 2em;
    margin: 0em 1em 1em 1em;
}
.btn-exclude:hover{
    background-color: rgb(179, 0, 0);
}

.btn-editar-animais{
    width: 8em;
    font-size: medium;
    font-weight: bold;
    text-transform: none;
    background-color: #56ca7d;
    border-radius: 2em;
    margin: 0em 1em 1em 1em;
}

.btn-editar-animais:hover{
    background-color: #48a567;
}

.btn-animal-area{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column; 
    margin-top: 3em;
    margin-bottom: 3em;
}
.icon-edit{
    transform: rotate(-90deg);
}