.upload-area-banner{
    text-align: center;
    justify-content: center;
    margin-bottom: 2.5em;
}

@media (min-width: 993px){
    .custom-file-upload-banner {
        font-size: small;
        color: white;
        border-radius: 2em;
        padding: 1em  2em  1em   1.5em;
        cursor: pointer;
        background-color: #56ca7d;
        margin-right: 1em;
    }
    .btn-submit-form-Evento{
        font-family: 'Raleway', sans-serif;
        font-size: 90%;
        background-color: #56ca7d;
        width: 17em;
        border-radius: 2em;
    }
}
@media (max-width: 993px){
    .custom-file-upload-banner {
        font-size: xx-small;
        color: white;
        border-radius: 2em;
        padding: 1em  2em  1em   2em;
        cursor: pointer;
        background-color: #56ca7d;
        margin-right: 1em;
    }
    .btn-submit-form-Evento{
        font-family: 'Raleway', sans-serif;
        font-size: 50%;
        background-color: #56ca7d;
        width: 20em;
        border-radius: 2em;
    }
}
.custom-file-upload-banner:hover {
    background-color: #48a567;
}
.btn-submit-form-Evento:hover{
    background-color: #40965d;
}
.btn-area-cadEvento{
   text-align: center;
}

.icon-file-upload-evento{
    background-color: rgb(103, 95, 252);
    margin-bottom: 30px;
}
.icon-file-upload-evento:hover{
    background-color: rgb(16, 22, 179);
}